<%= link_to "temporary shortcut to login page", root_path %>

<br>
<br>


<div class='page-header'>
  <h1> Users</h1>
</div>

<table class="table table-striped">
            <tr>
              <th>First name</th>
              <th>Email</th>
           </tr>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                      <td><%= link_to user.name, user_path(user) %></td>
                      <td><%= user.email %></td>
                 </tr>
                    <% end %>
              </tbody>
      </table>
<br>
<br>

<div class='page-header'>
  <h1> <%= link_to "Mastercomics", mastercomics_path %></h1>
</div>

<table class="table table-striped">
            <tr>
              <th>Title</th>
              <th>Issue number</th>
              <th>Publisher</th>
              <th>Category</th>
              <th>Special ID</th>
              <th>Image source</th>
           </tr>
              <tbody>
                <% @mastercomics.each do |mastercomic| %>
                  <tr>
                      <td><%= mastercomic.title %></td>
                      <td><%= mastercomic.issuenumber %></td>
                      <td><%= mastercomic.publisher %></td>
                      <td><%= mastercomic.category %></td>
                      <td><%= mastercomic.specialID %></td>
                      <td><%= mastercomic.imagesource %></td>


                 </tr>
                    <% end %>
              </tbody>
      </table>
